.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:thistle ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 50px;
}

.grid-list {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  align-items: center;
  justify-content: space-around
}

.grid-item {
  align-self:space-around;
  color: black;
  font-size: 10;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1rem solid;
  align-items: center;

}

.card-description {
  font-size: 12px
}

.header {
  font: black
}

.icon {
  height: 40vmin
}

.masked {
  width:150px;
  height: 150px;
  background-color: #8cffa0;
  -webkit-mask-image: url("https://upload.wikimedia.org/wikipedia/commons/0/01/SVG_Circle.svg");
  mask-image: url("https://upload.wikimedia.org/wikipedia/commons/0/01/SVG_Circle.svg");
  margin-top: 50px;
  margin-bottom: 50px
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  border: none;
  align-self: center;
}

.is-active {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
    transition-duration: 1s;
    background-position: -2800px 0;
  border: none;
  align-self: center;
}

body {
  background: white;
}

.placement {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
